---
title: 'Palm Bay Web Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/hero.css" />
    <link rel="stylesheet" href="/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-856">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Modern and Professional</span>
            <h1 class="cs-title">Small Business Web Design and Development</h1>
            <p class="cs-text">
                We design and build custom websites for local businesses, so that you can have a greater online presence. Our websites are custom made to be more responsive and faster than websites built with a website builder.</p>
            <a href="" class="cs-button-solid">Contact Us</a>
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
            <!--Mobile-->
            <source media="(max-width: 600px)" srcset="/assets/images/devices.png">
            <!--Tablet-->
            <source media="(min-width: 601px)" srcset="/assets/images/devices.png">
            <!--Desktop-->
            <source media="(min-width: 1024px)" srcset="/assets/images/devices.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/devices.png" alt="therapy" width="570" height="701">
            </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-690">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Enhance Your  <span class="cs-color">Online Presence</span></h2>
            </div>
            <p class="cs-text">
                We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Mobile-First Design</h3>
                    <p class="cs-item-text">
                        60% of all internet traffic is on mobile devices. We start building your site for mobile devices first so that it will always be easy to use on all devices.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Fully Responsive</h3>
                    <p class="cs-item-text">
                        Your website will fit all mobile screens sizes, tablets, and desktop sizes so new clients can access your site from anywhere.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Optimization</h3>
                    <p class="cs-item-text">
                        Generic website builders do not optimize their websites for high performance. All our websites are built using custom code to ensure that they always load as fast as possible.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-701">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Simple & Transparent Pricing</h2>
            <p class="cs-text">
                We offer both standard 5 page small business websites in an A La Carte format or subscription services. 
                If you need more than that then we can provide custom pricing based on the scope of work, 
                number of additional pages, and time involved.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Basic subscription</span>
                <span class="cs-price">$500 Down</span>
                <span class="cs-desc">+ $50 Per Month</span>
                <!-- <p class="cs-item-p">
                    With Purchase Of 5 Page Static Site ($500)
                </p> -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        5 Page Static Website
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        1 Edit* Per Month
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hosting Included
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Contact Form With Notifications
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Contact Us</a>
            </li>
            <li class="cs-item cs-popular">
                <span class="cs-package">Premium Subscription</span>
                <span class="cs-price">$0 Down</span>
                <span class="cs-desc">+ $100 Per Month</span>
                <p class="cs-item-p">
                    6 Month Minimum Contract
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        5 Page Static Website
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Unlimited Edits*
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Hosting Included
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        SEO Services
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Website Analystics
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Contact Form With Notifications/Spreadsheet
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Help With Google Business Page
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        * Edits Include Text, Images, Hours, Etc.
                    </li>
                    <!-- <li class="cs-li">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcheck.svg" alt="checkmark" width="18" height="18">
                    </li> -->
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Book Appointment</a>
            </li>
        </ul>
    </div>
</section>
                                                         

{% endblock %}